# =====================
# PYTHON
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# =====================
# C++
# =====================
*.o
*.obj
*.dll
*.dylib
*.so
*.a
*.lib
*.exe
*.out

# Compiled module (_core.pyd)
foggeett/_core.pyd

# =====================
# VSCODE
# =====================
.vscode/
desktop.ini

# =====================
# CMake / Build
# =====================
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.dir/

# =====================
# Backup / Temp
# =====================
*.tmp
*.swp
*.bak
*.old
*.DS_Store
Thumbs.db
